<div class="center-screen">
    <h1>Login Form</h1>
    <div>
        <form action="/admin/login/auth" method="post">
            <label for="name">Name</label>
                <input type="text" name="name">
            <label for="name">password</label>
                <input type="text" name="password">
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
