<div class="center-screen">
    <h1>Login Form</h1>
    <div>
        <form action="/admin/login/auth" method="post">
            <label for="name">Email</label>
                <input type="email" name="email">
            <label for="name">password</label>
                <input type="password" name="password">
            <div>
                <button type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
