    <div class="container">
        <div class="jumbotron" style="text-align: justify;">
            <h1 class="display-4 mb-5" style="text-align: center;">Contact Us</h1>
            <small>If you have any questions or inquiries, please feel free to contact us:</small>
            <ul>
                <li>E-mail: {{client.email}}</li>
                <li>Phone: {{client.number}}</li>
                <li>Address: {{client.address}}</li>
            </ul>    
        </div>
    </div>

