<div class="center-screen">
    <h1>Login Form</h1>
    <div>
        <form action="/user/login/auth" method="post">
            <label for="email">E-mail</label>
                <input type="email" name="email"> <br>
            <label for="password">password</label>
                <input type="text" name="password"> <br>
            <div>
                <button type="submit">Confirm</button> <br>
            </div>
        </form>
    </div>
</div>
