*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feedback_page{
    background: radial-gradient(100% 132.88% at 0% 3.17%, rgba(0, 150, 255, 0.32) 0%, rgba(255, 222, 106, 0.26) 100%);
    width: 100vw;
}