*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    /* background-image: url('../public/images/background.jpg'); */

}

body{
    background:url(../public/images/background.jpg);
    background-size: cover;

}
.navBar{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 60px;
    background: rgb(238, 236, 232);
}

.profile {
    display: flex;
    column-gap: 10px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}



.menu{
    display: flex;  
    list-style: none;  
    column-gap: 20px;

}
a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color:darkorange;
    
}

.profilepics{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.logoimg{
    height: 100px;
    width: 150px;

}

.body{
    display: flex;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: space-around;

}

.bodyContent h2{
    padding-bottom: 10px;
}

.contacts{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.contacts a{
    font-size: 20px;
    justify-self: flex-start;
    padding-top: 10px;
}

.contacts a:hover{
    color: white;
    font-size: 30px;
}

.bodyContent h2{
    justify-items: center;
    color:darkorange;
}

.part2 img{
    height: 370.14px;
    width: 357px;
    border-radius: 50%;
}